<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/findplayer.css">
<title>Smash.gg Scouter</title>

<div class="container" id="mainContainer">
    <h4 class="text-center">Now lets find who you are</h4>
    <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Tag</span>
        </div>
        <input oninput="filterEntrants()" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="entrant-textbox">
        <div class="container collapse" id="noResultsCollapse">
            <div class="card card-body">
                There are no attendants for this event. Please go back and try a different one.
            </div>
        </div>
        <div class="container no-side-padding collapse" id="player-list-collapse">
            <div class="list-group" id="player-list">
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/static/js/findplayer.js"></script>
<script type="text/javascript">
    page_load({{  tournament  }}, {{  event  }})
</script>
